verify_compare_reference_and_result_parquet

1. get spark session
2. load the reference file
3. load the parquet result file to compare structure
df.printSchema() for both

In [1]:
reference_dataset="./data/in/njtransit_bus_single_grab_reference.parquet"

In [2]:
compare_dataset="./data/out/partitioned_csv_full_1_file_per_partition"

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
  .master("local") \
  .appName("verify_parquet_schema") \
  .config("spark.executor.cores", 3) \
  .getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/06 18:46:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/06 18:46:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/06 18:46:01 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df_reference = spark.read.parquet(reference_dataset)

In [5]:
df_compare = spark.read.parquet(compare_dataset)

In [6]:
df_reference.printSchema()

root
 |-- id: string (nullable = true)
 |-- consist: string (nullable = true)
 |-- cars: string (nullable = true)
 |-- rtpiFeedName: string (nullable = true)
 |-- m: string (nullable = true)
 |-- rt: string (nullable = true)
 |-- rtRtpiFeedName: string (nullable = true)
 |-- rtdd: string (nullable = true)
 |-- c: string (nullable = true)
 |-- d: string (nullable = true)
 |-- dd: string (nullable = true)
 |-- dn: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- pid: string (nullable = true)
 |-- pd: string (nullable = true)
 |-- pdRtpiFeedName: string (nullable = true)
 |-- run: string (nullable = true)
 |-- fs: string (nullable = true)
 |-- op: string (nullable = true)
 |-- bid: string (nullable = true)
 |-- wid1: string (nullable = true)
 |-- wid2: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [7]:
df_compare.printSchema()

root
 |-- pkey: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- cars: string (nullable = true)
 |-- consist: string (nullable = true)
 |-- d: string (nullable = true)
 |-- dn: string (nullable = true)
 |-- fs: string (nullable = true)
 |-- id: string (nullable = true)
 |-- m: string (nullable = true)
 |-- op: string (nullable = true)
 |-- pd: string (nullable = true)
 |-- pdrtpifeedname: string (nullable = true)
 |-- pid: string (nullable = true)
 |-- rtrtpifeedname: string (nullable = true)
 |-- rtdd: string (nullable = true)
 |-- rtpifeedname: string (nullable = true)
 |-- run: string (nullable = true)
 |-- wid1: string (nullable = true)
 |-- wid2: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- rt: integer (nullable = true)

In [8]:
spark.stop()